<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="customConfigSectionGroup" type="PingList.ConfigModels.CustomConfigSectionGroup,PingList">
			<section name="hostSection" type ="PingList.ConfigModels.HostSection,PingList"/>
		</sectionGroup>
	</configSections>
	<customConfigSectionGroup>
		<hostSection>
			<hosts>
				<host host="185.165.123.70" protocol="tcp" port="443"></host>
				<host host="185.165.123.97" protocol="tcp" port="443"></host>
				<host host="151.236.114.7" protocol="tcp" port="443"></host>
				<host host="8.8.8.8" protocol="tcp" port="80"></host>
			</hosts>
		</hostSection>
	</customConfigSectionGroup>
</configuration>